In [185]:
import os.path
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from docopt import docopt
from joblib import load as joblib_load

from sklearn.metrics import confusion_matrix
from sklearn.metrics import ConfusionMatrixDisplay
from sklearn.metrics import precision_recall_curve, precision_score, recall_score
from sklearn.metrics import roc_curve
from sklearn.metrics import classification_report
from sklearn.metrics import f1_score

In [186]:
import altair as alt
from vega_datasets import data as vega_data

train_test_scores_path= 'results/test_scores/train_test_f1_scores.csv' 
train_test_scores = pd.read_csv(train_test_scores_path, index_col=0)
train_test_scores.index.name = 'model'
train_test_scores = train_test_scores.reset_index()
train_test_scores = train_test_scores.rename(columns={'train_f1_score': 'train', 'test_f1_score': 'test'})
train_test_scores = train_test_scores.sort_values('test')
train_test_scores

                 model  train      test
0     dummy_classifier  0.000  0.000000
1                  svc  0.000  0.000000
3  logistic_regression  0.345  0.348529
2                  knn  0.430  0.436105
4        random_forest  0.477  0.476865

In [187]:
train_test_scores = pd.melt(train_test_scores, id_vars='model', var_name='score_type', value_name='score').sort_values('model')
train_test_scores

                 model score_type     score
0     dummy_classifier      train  0.000000
5     dummy_classifier       test  0.000000
3                  knn      train  0.430000
8                  knn       test  0.436105
2  logistic_regression      train  0.345000
7  logistic_regression       test  0.348529
4        random_forest      train  0.477000
9        random_forest       test  0.476865
1                  svc      train  0.000000
6                  svc       test  0.000000

In [123]:
demo_data = vega_data.barley()
demo_data

        yield           variety  year             site
0    27.00000         Manchuria  1931  University Farm
1    48.86667         Manchuria  1931           Waseca
2    27.43334         Manchuria  1931           Morris
3    39.93333         Manchuria  1931        Crookston
4    32.96667         Manchuria  1931     Grand Rapids
..        ...               ...   ...              ...
115  58.16667  Wisconsin No. 38  1932           Waseca
116  47.16667  Wisconsin No. 38  1932           Morris
117  35.90000  Wisconsin No. 38  1932        Crookston
118  20.66667  Wisconsin No. 38  1932     Grand Rapids
119  29.33333  Wisconsin No. 38  1932           Duluth

[120 rows x 4 columns]

In [124]:
alt.Chart(demo_data).mark_bar().encode(
    x='year:O',
    y='sum(yield):Q',
    color='year:N',
    column='site:N'
)

/home/ken/miniconda3/envs/522/lib/python3.11/site-packages/altair/utils/core.py:317: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_name, dtype in df.dtypes.iteritems():

alt.Chart(...)

In [221]:
my_chart = alt.Chart(
    train_test_scores,
    title='F-1 Scores for Different Models'
).mark_bar().encode(
    x=alt.X('score_type', title=None),
    y='score',
    color=alt.Color('score_type', title=None),
    column=alt.Column('model:N', title='Model', spacing=40, sort=['random_forest', 'knn', 'logistic_regression', 'svc', 'dummy_classifier'])
).configure_axis(
    labelFontSize=15,
    titleFontSize=15,
).configure_legend(
    labelFontSize=15,
).configure_header(
    labelFontSize=13
).configure_title(
    fontSize=20
)

In [222]:
my_chart.save('chart.png')